.container, 
.row {
  height: 100%;
  width: 100%;
}

html, body {
    /* html fills page properly.  reset margin and padding before adjusting for elements later. */
    height: 100%; 
    width: 100%;
    margin: 0;
    
    /* Google fonts, serif and sans serif as backups. Default for page unless specifically set by class further below.*/
    font-family: "PlayFair Display", "Montserrat", serif, sans-serif;

    /* Full screen background image. */
    background: url("./header.jpg") no-repeat  center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; 
    background-size: cover;
}

header {
  height: 50%;
  width: 50%;
}

hr {
  border-color: black;
  border-radius: .3em;
  max-width: 65px;
  height: 10px;
}

h1 {
  font-size: 3rem;
  font-family: 'PlayFair Display';
  color: #4AF626;
}

#buffer {
  height: 5rem;
} 

.btn {
  font: inherit;
  font-weight: 1000;
  text-transform: uppercase;
  color:#4AF626;
  border: none;
}

.btn-primary {
  font-family: 'Montserrat';
  font-weight: 100; 
  font-size: 18px;
  background-color: transparent;
  border-color: #aaa9ad;
  border-radius: 60px;
}

.btn-primary:hover {
  background-color: #4AF626;
  color: black;
  border-color:#aaa9ad;
  transform: scale(1.1);
  transition: transform(ease-in 2s); 
  font-weight: bolder; 
  font-size: 20px; 
}

.btn-xl {
  padding: 1rem 2rem;
}

.heading {
  color: white;
  margin: 1em;
}
.typewriter {
  width: auto; 
  display: inline-block;
}

.typewriter p {
  background-color: inherit;
  font-family: 'Montserrat';
}
/* This is from CSS-Tricks.  Useful, but i don't know how to build that myself yet */
.typewriter span{
  font-size: 1.2em;
  font-family: inherit;
  padding-top: .5rem;
  color: #4AF626;
  width: auto;
  display: inherit;
  overflow: hidden;
  border-right: .15em solid white;
  white-space: nowrap;
  margin: 0 auto;
  margin-left: 10px;
  margin-right: 10px;
  letter-spacing: .18em;
  animation: typing 3s steps(50, end),
			 blink-caret .75s step-end infinite;
}

@keyframes typing{
  from {max-width: 0}
  to {max-width: 100%}
}

@keyframes blink-caret{
  from, to {border-color: transparent}
  50% {border-color: #4AF626}
}
